<p class="header">
    <a href="{{site.baseurl}}/">MainPage</a><br /> 
    <a href="{{site.baseurl}}/schedule">Schedule</a><br /> 
    <a href="{{site.baseurl}}/club-spirit">Club Spirit</a><br /> 
    <a href="{{site.baseurl}}/ITPwork">ITP alumni's super cool work</a><br /> 

    content<br/>
    <a href="{{site.baseurl}}/gears">   Gear</a><br /> 
    <a href="{{site.baseurl}}/linkagedesign">   linkage design</a><br /> 
    <a href="{{site.baseurl}}/fusion360">   Fusion 360 workshop</a><br /> 
    <a href="{{site.baseurl}}/balance"> balance</a><br /> 
    <a href="{{site.baseurl}}/stringControl">   string control</a><br /> 
    <a href="{{site.baseurl}}/dc_motor"> DC Motor control</a><br />   
    <a href="{{site.baseurl}}/stepperA4988"> Stepper Motor control A4988</a><br />   
    <a href="{{site.baseurl}}/stepperTMC2209"> Stepper Motor control Silent TMC2209</a><br />   
    <a href="{{site.baseurl}}/inventory">   Inventory</a><br /> 
    <a href="{{site.baseurl}}/final-project">   Final Project: Soft Move</a><br /> 
    <a href="{{site.baseurl}}/resources">   Resources</a><br /> 
    
 </p>