<p class="header">
    <a href="{{site.baseurl}}/">MainPage</a><br /> 
    <a href="{{site.baseurl}}/schedule">Schedule</a><br /> 
    content<br/>
    <a href="{{site.baseurl}}/gears">Gear</a><br /> 
    <a href="{{site.baseurl}}/linkagedesign">linkage design</a><br /> 
    <a href="{{site.baseurl}}/fusion360">Fusion 360 workshop</a><br /> 
    <a href="{{site.baseurl}}/balance">balance</a><br /> 
    <a href="{{site.baseurl}}/stringControl">string control</a><br /> 
    <a href="{{site.baseurl}}/stepper">Stepper Motor control</a><br /> 
    <a href="{{site.baseurl}}/club-spirit">Club Spirit</a><br /> 
    <a href="{{site.baseurl}}/inventory">Inventory</a><br /> 
    <a href="{{site.baseurl}}/final-project">Final Project: Soft Move</a><br /> 
    <a href="{{site.baseurl}}/resources">Resources</a><br /> 
    <a href="{{site.baseurl}}/ITPwork">ITP alumni's super cool work</a><br /> 
 </p>